body{

margin:0;
font-family:Segoe UI;
background: linear-gradient(120deg, #89f7fe, #66a6ff);
height:100vh;
display:flex;
justify-content:center;
align-items:center;

}


.container{

background:white;
padding:30px;
border-radius:15px;
box-shadow:0 10px 30px rgba(0,0,0,0.2);
width:350px;
text-align:center;

}


h1{

margin-bottom:20px;

}


.inputBox{

display:flex;
gap:10px;

}


input{

flex:1;
padding:10px;
border-radius:8px;
border:1px solid gray;

}


button{

padding:10px 15px;
border:none;
background:#66a6ff;
color:white;
border-radius:8px;
cursor:pointer;

}


button:hover{

background:#4d8df5;

}


li{

list-style:none;
padding:10px;
margin-top:10px;
background:#f1f1f1;
border-radius:8px;
display:flex;
justify-content:space-between;
cursor:pointer;
transition:0.3s;

}


li:hover{

transform:scale(1.03);

}


.completed{

text-decoration:line-through;
background:#d4ffd4;

}


.delete{

color:red;
cursor:pointer;
font-weight:bold;

}


#emptyMsg{

color:gray;
margin-top:15px;

}
