body {

font-family: Arial;
transition: 0.3s;

display: flex;
justify-content: center;
align-items: center;
height: 100vh;

}

.container {

padding: 30px;
border-radius: 15px;

box-shadow: 0 0 20px rgba(0,0,0,0.2);

text-align: center;

}

.box {

margin: 20px;

}

button {

padding: 10px;
cursor: pointer;

}

.switch {

position: relative;
display: inline-block;
width: 50px;
height: 25px;

}

.switch input {

display: none;

}

.slider {

position: absolute;
background: gray;
border-radius: 25px;
width: 100%;
height: 100%;

}

.slider::before {

content: "";
position: absolute;
background: white;
height: 20px;
width: 20px;
top: 2.5px;
left: 3px;
transition: 0.3s;
border-radius: 50%;

}

input:checked + .slider {

background: green;

}

input:checked + .slider::before {

transform: translateX(24px);

}

.dark {

background: #121212;
color: white;

}

.light {

background: white;
color: black;

}