body{

background-color: #f2f2f2;
font-family: Arial;
text-align: center;

}

.container{

background: white;
padding: 20px;
margin: 50px auto;
width: 400px;
border-radius: 10px;
box-shadow: 0px 0px 10px gray;

}

button{

padding: 10px;
margin: 5px;
border: none;
background-color: blue;
color: white;
border-radius: 5px;
cursor: pointer;

}

button:hover{

background-color: darkblue;

}

input{

padding: 10px;
margin: 5px;

}

h2{

color: green;

}
