body{

font-family: Arial;

margin:0;

background: linear-gradient(to right,#4facfe,#00f2fe);

color:white;

transition:0.5s;

}

.dark{

background:#1e1e1e;

color:white;

}

.container{

text-align:center;

margin-top:50px;

}

input{

padding:10px;

font-size:16px;

border:none;

border-radius:5px;

}

button{

padding:10px 15px;

margin:5px;

border:none;

background:#ff9800;

color:white;

border-radius:5px;

cursor:pointer;

}

.card{

background:white;

color:black;

width:300px;

margin:auto;

padding:20px;

border-radius:15px;

box-shadow:0 0 15px rgba(0,0,0,0.3);

}

.dark .card{

background:#333;

color:white;

}

.spinner{

border:8px solid #eee;

border-top:8px solid blue;

border-radius:50%;

width:60px;

height:60px;

animation:spin 1s linear infinite;

margin:auto;

}

.hidden{

display:none;

}

@keyframes spin{

0%{transform:rotate(0)}

100%{transform:rotate(360deg)}

}
