body
{
font-family: Arial;
background-color: #f4f4f4;
text-align: center;
}

h1
{
color: darkblue;
}

.box
{
background: white;
padding: 20px;
margin: 20px;
border-radius: 10px;
width: 400px;
margin-left: auto;
margin-right: auto;
box-shadow: 0 0 10px gray;
}

button
{
padding: 10px;
background: darkblue;
color: white;
border: none;
margin: 10px;
cursor: pointer;
}

button:hover
{
background: green;
}

ul
{
list-style: none;
padding: 0;
}

